html {
	font-size: 9px;
}

.widget-title {
	font-size: 1.2rem;
}

.widget-icon > svg {
	height: 24px !important;
	width: 24px !important;
}

.tagCloud-tags a {
	font-size: 1.2rem !important;
	padding: 8px 12px !important;
}


.article-category a, .article-tags a {
	padding: 6px 10px;
	font-size: 1.2rem;
}

